openapi: 3.1.0
info:
  title: Velma 2 Accent Batch Velma 2 Stt Batch Multilingual Vfast API
  version: 0.0.0
  description: "Batch accent detection on an audio file via HTTP POST. Returns a single\nwhole-file accent label plus a time series of fixed-length windows, each\nwith its own accent label.\n\n## Behavior Notes\n- The `time_series` entries are consecutive, fixed-length windows over the\n  file; each entry's `start_ms` and `duration_ms` delimit its span. A\n  trailing remainder shorter than one full window is omitted.\n- A file shorter than one window returns an empty `time_series`; the\n  whole-file `accent` is still returned.\n- `accent` is always a non-null string.\n"
servers:
- url: https://platform.modulate.ai
  description: Modulate Accent Batch Server
security:
- ApiKeyAuth: []
tags:
- name: Velma 2 Stt Batch Multilingual Vfast
paths:
  /api/velma-2-stt-batch-multilingual-vfast:
    post:
      summary: Transcribe a multilingual audio file
      operationId: transcribeMultilingual
      security:
      - ApiKeyAuth: []
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              type: object
              required:
              - upload_file
              properties:
                upload_file:
                  type: string
                  format: binary
                  description: 'The audio file to transcribe. Supported formats: aac, aiff, flac, mp3, mp4, mov, ogg, opus, wav, webm. Maximum size 100 MB.

                    '
                language:
                  type: string
                  description: 'Optional. The spoken language as a short code (e.g. "en", "es", "fr", "ja"). When provided, the audio is transcribed directly in that language. When omitted, the language is detected automatically.

                    '
                  example: es
      responses:
        '200':
          description: Successful transcription
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TranscriptionResponse'
        '400':
          description: Bad request (unsupported format, empty file, or unprocessable audio)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Missing or invalid API key
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '502':
          description: Transcription temporarily unavailable
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '504':
          description: Request timed out
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      tags:
      - Velma 2 Stt Batch Multilingual Vfast
components:
  schemas:
    TranscriptionResponse:
      type: object
      properties:
        text:
          type: string
          description: The transcribed text.
        duration_ms:
          type: integer
          description: Duration of the processed audio in milliseconds.
      required:
      - text
      - duration_ms
    ErrorResponse:
      type: object
      properties:
        detail:
          type: string
          description: 'A generic, human-readable description of the error. Internal details (which transcriber failed, routing decisions) are never included; the exact cause is available only in server logs.

            '
      required:
      - detail
  securitySchemes:
    ApiKeyAuth:
      type: apiKey
      in: header
      name: X-API-Key
      description: API key used for authentication and usage tracking.
